.calendar_year_month{width: 875px;  height: 100px;  text-align: center; display: inline-block;}

.calendar_year_month_left{ width: 675px; height: 100%; margin: 0; float: left;}

.calendar_year_month_right{ width:200px; height: 100%; float: right;}

#before_button{ margin-left: 20px;}
.calendar {  }
.calendar_check { width:875px; }
.weekday {  }
.weekday td{ width : 14%; text-align: center; background: #cccccc;}
.date { height : 90px; }
.date td{
	padding :0;
}
#month_value_num{ padding:0; width:50px; height:20px;}
.day{
	text-align: center;
	padding-left:20px;
	padding-right:20px;
	padding-top:0px;
	padding-botton:0px;
	height: 100px;
}
.day .checkday{
	height:15px;
}
.day .checkday td{
	height:15px;
	width:100%
}
.day .checkimg td{
	padding:0;
}
.day .checkimg img{
	width:75px;
	height: 75px;
	float: none;
}
