.tbl,.tbl th,.tbl td{
					border:0
					}
.tbl{width:1000px;
	margin: 15px 130px 10px 130px;
	border-bottom:2px solid #dcdcdc;
	font-family:Tahoma;font-size:11px;
	text-align:center
	}
.tbl th{padding:7px 0 4px;
		border-top:2px solid #dcdcdc;
		background-color:#585858;
		color:#ffffff;
		font-family:'돋움',dotum;
		font-size:12px;
		font-weight:bold}
.tbl td{padding:6px 0 4px;
		border-top:1px solid #e5e5e5;
		color:#4c4c4c} 
		
.notice td{
	font-weight: bold;
	background-color: #f5f5f5;
	
}