@charset "utf-8";

/* Web Font */
@font-face {
	font-family:NanumGothic; font-style:normal; font-weight:700;
	src:url(/newir/home/kr/font/NanumGothic-Regular.eot);
	src:local("※"),
	url(/newir/iradm/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(/newir/iradm/font/NanumGothic-Regular.woff) format('woff'),
	url(/newir/iradm/font/NanumGothic-Regular.ttf) format('truetype');
	}

/* HTML Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,iframe,em,i { margin:0; padding:0 ; }
body,h1,h2,h3,h4,h5,h6,input,select,textarea,button,iframe { font-family:NanumGothic,Dotum,arial,sans-serif; font-size:12px; line-height:1.7; color:#666; }
html, body { background:#eff1f6; }
h1,h2,h3,h4,h5,h6,th { font-weight:normal; }
em,i { font-style:normal; }
fieldset,img { border:0 none; }
dl,ul,ol,menu,li { list-style:none; }
input,select,textarea,button { font-size:12px; vertical-align:middle; }
button { border:0 none; background-color:transparent; cursor:pointer; }
textarea { padding:17px 16px 13px 19px; border:solid 1px #8b9cae; }
table { border-collapse:collapse; table-layout:fixed; border-spacing:0; border-collapse:separate \9; }
table,th,td { border-spacing:0; margin:0; padding:0; font-weight:normal; border-collapse:collapse; }
caption { display:none; position:static; left:-9999px; text-indent:-9999px; height:0; font-size:0px; line-height:0; }
.blind { display:block; position:absolute; left:-9999px; text-indent:9999px; width:0; height:0; border:0; overflow:hidden; font-size:1px; line-height:0; white-space:nowrap; } /* 숨김 텍스트 */
a { color:inherit; text-decoration:none; }
a:hover { color:inherit; text-decoration:underline; }
a:active { background-color:transparent; }
.ir { display:inline-block; width:0; height:0; padding:0; margin:0; overflow:hidden; white-space:nowrap; font-size:0; line-height:200px; text-indent:-999px; letter-spacing:-100px; vertical-align:middle; color:transparent; text-align:left; }

#wrap { width:100%; }

/* LOGIN */
#login { overflow:hidden; width:281px; margin:240px auto; font-size:11px; }
#login .logo { width:280px; height:77px; background:url("/newir/iradm/images/common.png") -41px -138px no-repeat; }
#login .inpWrap { margin:30px 0 10px; }
#login .inpWrap input{ display:block; width:267px; height:38px; color:#333; }
#login .inpWrap input:first-child { margin-bottom:-1px; }
#login .idCheck { margin:15px 0 30px; color:#333; font-size:12px; }

/* HEADER */
#header { height:100px; border-bottom:3px solid #043b72; background:#fff; }
#header .headerIn { position:relative; width:1024px; }
#header .logo { position:absolute; left:43px; top:18px; width:250px; height:49px; background:url("/newir/iradm/images/common.png") 0 0 no-repeat; }
#header .utilNav { position:absolute; right:0; top:35px; }
#header .utilNav li { float:left; padding:1px 9px 5px 10px; line-height:26px; }
#header .utilNav li:first-child { background:url("/newir/iradm/images/common.png") 100% 9px no-repeat; }
#header .utilNav li a { display:inline-block; }

/* CONTAINER */
#container { position:relative; overflow:hidden; width:1024px; background:url("/newir/iradm/images/left_line.png") repeat-y; }
.columnSub { float:left; width:127px; min-height:500px; padding:33px 40px 100px 43px; }
.columnSub .lnb em { padding:0 0 14px 0; font-size:20px; color:#333; }
.columnSub .lnb > li { padding:47px 0 0 0; }
.columnSub .lnb > li:first-child { padding:0; }
.columnSub .lnb .lnbSub li { padding-top:12px; line-height:1.5; }
.columnSub .lnb .lnbSub li a { display:inline-block; }
.columnSub .lnb .lnbSub li a:hover, .columnSub .lnb .lnbSub li a.active { color:#ef8009; text-decoration:underline; }
.columnMain { float:left; position:relative; width:774px; padding:29px 0 0 40px; }
.columnMain h2 { font-size:28px; color:#333; }
.columnMain .location { position:absolute; top:55px; right:0; }
.columnMain .location span { display:inline-block; padding-left:17px; vertical-align:top; background:url("/newir/iradm/images/common.png") 8px -85px no-repeat; color:#333; }
.columnMain .location span:first-child { background-position:1px -66px; }
.columnMain .contents { margin-top:28px; }
.search { text-align:center; margin-top:20px; }

/* TABLE */
.tbTy1 { width:100%; margin-top:29px; border-top:solid 2px #043b72; border-bottom:solid 1px #b3b3b3; line-height:1.4; position:relative; }
.tbTy1 thead tr th { background-color:#e5e7ec; color:#333; text-align:center; border-bottom:solid 1px #043b72; border-left:solid 1px #ccc; padding-top:15px; padding-bottom:15px; }
.tbTy1 tr th:first-child, .tbTy1 tr > td:first-child { border-left:none; }
.tbTy1.dataLeft th, .tbTy1.dataLeft td { padding-left:20px; text-align:left; padding-top:18px; }
.tbTy1 tbody th { background-color:#e5e7ec; color:#333; border-top:solid 1px #ccc; border-right:solid 1px #ccc; border-left:solid 1px #ccc; vertical-align:top; }
.tbTy1 tbody td { border-top:solid 1px #ccc; border-left:solid 1px #ccc; vertical-align:middle; text-align:center; padding-top:18px; padding-bottom:18px; padding-left:15px; padding-right:15px; /* vertical-align:top; */ }
.tbTy1 tbody td.caL { text-align:left; }
.btnArea { position:relative; padding-top:20px; height:30px; overflow:hidden; text-align:center; line-height:30px; }
.btnArea.line { border-top:solid 1px #b3b3b3; }
.btnArea .btnL { position:absolute; left:0; top:20px; }
.btnArea .btnR { position:absolute; right:0; top:20px; }
.btnArea .paging a { display:inline-block; color:#333; padding:0 6px; vertical-align:middle; }
.btnArea .paging a:hover, .btnArea .paging a.active { color:#ef8009; text-decoration:underline; }
.btnArea .paging a.prev { width:5px; height:9px; background:url("/newir/iradm/images/common.png") 2px -110px no-repeat; }
.btnArea .paging a.next { width:5px; height:9px; background:url("/newir/iradm/images/common.png") 11px -129px  no-repeat; }
.btnArea + .tbTy1 { margin-top:10px; }
.i-ess { background:url("/newir/iradm/images/bul-1.png") 0 0 no-repeat; width:4px; height:4px; vertical-align:middle; margin:-2px 5px 0 10px; }
.photoImg { overflow:hidden; position:relative; background:#ddd; width:190px; }
.photoImg img { width:100%; }
.photoImg .close { position:absolute; top:5px; right:7px; width:20px; display:inline-block; font-weight:bold; text-decoration:none; font-size:20px; text-align:center; }

/* TAB */
.tab { overflow:hidden; width:100%; border-bottom:1px solid #043b72; }
.tab li { float:left; margin-right:1px; }
.tab li a { display:table-cell; padding:0 29px; margin-left:1px; text-align:center; height:48px; vertical-align:middle; border:solid #aec2d8; border-width:1px 1px 0 1px; border-radius:2px 2px 0 0; color:#333; line-height:1.2; font-size:14px; }
.tab li a.active { background:#043b72; color:#fff; border:solid #043b72; border-width:1px 1px 0 1px; }

/* FORM */
.selTy { height:30px; border:solid 1px #8b9cae; vertical-align:middle; font-size:11px; line-height:30px; padding:0 0 0 8px; color:#333; }
.intTy { background-color:#fff; height:28px; border:solid 1px #8b9cae; vertical-align:middle; font-size:11px; line-height:28px; padding:0 0 0 11px; }

/* BUTTON */
.btnTy1, .btnTy1:hover { display:inline-block; height:26px; padding:0 10px; border:solid 1px #b9cbde; border-radius:2px; font-size:10px; color:#175491; }
.btnTy2, .btnTy2:hover { display:inline-block; height:28px; padding:0 20px; border:solid 1px #7799bb; border-radius:2px; font-size:12px; color:#043b72; line-height:28px; }
.btnTy3, .btnTy3:hover { display:inline-block; height:29px; padding:0 20px; background:#175491; border-radius:2px; font-size:12px; color:#fff; line-height:28px; }
.btnTy4, .btnTy4:hover { display:block; width:100%; height:50px; background:#175491; border-radius:2px; font-size:16px; color:#fff; line-height:50px; text-align:center; }
.btnUp { display:inline-block; width:20px; height:20px; background:url("/newir/iradm/images/common.png") 6px -226px no-repeat; border:solid 1px #b9cbde; border-radius:2px; }
.btnDown { display:inline-block; width:20px; height:20px; background:url("/newir/iradm/images/common.png") -31px -226px no-repeat; border:solid 1px #b9cbde; border-radius:2px; }
.btnUp.end { background-position:6px -249px; }
.btnDown.end { background-position:-29px -249px; }
.btnClose, .btnClose:hover { display:inline-block; margin-top:3px; width:23px; height:23px; border:solid 1px #8b9cae; border-radius:2px; text-align:center; line-height:23px; vertical-align:top; text-decoration:none; }

/* POPUP */
#popWrap { position:relative; }
#popWrap h1 { height:60px; background-color:#004280; font-size:23px; line-height:60px; color:#fff; padding:0 0 0 28px; }
#popWrap .popCont { padding:30px; }
#popWrap .photoUp { border-top:solid 2px #043b72; border-bottom:solid 1px #b3b3b3; position:relative; padding:20px 0 0 191px; width:209px; height:200px; }
#popWrap .photoUp .photoImg { position:absolute; left:20px; top:20px; border:solid 1px #8b9cae; width:148px; height:170px; margin-bottom:10px; overflow:hidden; text-align:center; }
#popWrap .photoUp .photoImg img { width:100%; }
#popWrap .photoInfo { font-size:11px; margin:0 0 11px 2px; }
#popWrap .btnClose { position:absolute; right:30px; top:19px; background: url("/newir/iradm/images/btn-close.png") no-repeat 0 0; width:19px; height:19px; }

/* FONT */
.fcTy1 { color:#666; }
.fcTy2 { color:#043b72; } /* blue */
.fcTy3 { color:#ef8009; } /* orange */

/* MARGIN */
.mgTB10 { margin:10px 0; }
.mgT10 { margin-top:10px; }
.mgB10 { margin-bottom:10px; }
.mgL10 {margin-left:10px;}