.mw_join {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%
}

.mw_join.open {
	display: block
}

.mw_join .bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50)
}

/* 팝업창 절대 위치 및 크기*/
#join {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 328px;
	height: 300px;
	margin: -50px 0 0 -194px;
	/*위아래 , 0 , 0 , 양옆 위치  */
	padding: 28px 28px 0 28px;
	border: 2px solid #555;
	background: #fff;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #767676;
	line-height: normal;
	white-space: normal
}

#join form {
	display: none;
	margin: 0;
	padding: 0
}

#join fieldset {
	margin: 0;
	padding: 0;
	border: 0
}

#join legend {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0
}

#join .btn_join, #join .btn_join input {
	display: inline-block;
	overflow: visible;
	position: relative;
	height: 32px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url(img/btn_login.gif) no-repeat;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	line-height: 32px;
	text-decoration: none !important;
	vertical-align: middle;
	cursor: pointer
}

#join .btn_join {
	margin: 0 4px 0 0;
	background-position: left top
}

#join .btn_join input {
	left: 4px;
	padding: 0 24px 0 36px;
	background-position: right top;
	*vertical-align: top
}

#join .item {
	position: relative
}

#join .i_label {
	display: block;
	position: static;
	top: 9px;
	font: bold 11px Tahoma
}

#join .i_text {
	display: block;
	position: relative;
	border: 1px solid #b7b7b7;
	border-right-color: #e1e1e1;
	border-bottom-color: #e1e1e1;
	background: transparent;
	font: bold 11px Tahoma;
	height: 14px;
	color: #767676
}

#join .g_join .i_label {
	left: 10px
}

#join .g_join .i_text {
	width: 316px;
	height:30px;
	/* 입력란 크기 조절 */
	margin: 0 0 5px 0;
	padding: 8px 0 6px 10px
}

#join .g_join .btn_join {
	position: absolute;
	top: 103px;
	right: 28px;
	color:black;
}

#join .g_join .i_check {
	width: 13px;
	height: 13px;
	margin: 0 4px 0 0;
	padding: 0;
	vertical-align: middle
}

#join.g_join .g_join {
	display: block
}

#join .close {
	overflow: visible;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	padding: 0;
	border: 0;
	background: transparent;
	font: 11px/25px Verdana, Geneva, sans-serif;
	color: #ccc;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer
}
